.navigation__input {
    border-radius: 30px;
    display: block;
    width: 90px;
    @include respond-to-down('sm'){width: 140px;};
}

.newsletter__input{
    display: inline-block;
    border-width: 0;
    font-size: 13px;
    padding: 5px 10px;
}