.news {
    padding: 1rem 1.5rem 0rem;
}

.news__section {
    @include respond-to-down('md'){padding-right: 10px;}
}

.news__article {
    padding: 5px;
    cursor: pointer;
    margin-bottom: 1rem;
}

.news__header {
    h2 {
        font-size: 20px;
    }
}
.news__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 30vh;
    @include respond-to-down('md'){height: 35vh;}
    @include respond-to-down('lg'){height: 40vh;}
    &--first {
        background-image: url(https://picsum.photos/720/400?random=1);
        @include respond-to-down('md'){background-image: url(https://picsum.photos/310/400?random=1);}
        @include respond-to-down('lg'){background-image: url(https://picsum.photos/220/400?random=1);}
    }
    &--second {
        background-image: url(https://picsum.photos/720/400?random=2);
        @include respond-to-down('md'){background-image: url(https://picsum.photos/310/400?random=2);}
        @include respond-to-down('lg'){background-image: url(https://picsum.photos/220/400?random=2);}
    }
    &--third {
        background-image: url(https://picsum.photos/720/400?random=3);
        @include respond-to-down('md'){background-image: url(https://picsum.photos/310/400?random=3);}
        @include respond-to-down('lg'){background-image: url(https://picsum.photos/220/400?random=3);}
    }
    &--fourth {
        background-image: url(https://picsum.photos/720/400?random=4);
        @include respond-to-down('md'){background-image: url(https://picsum.photos/310/400?random=4);}
        @include respond-to-down('lg'){background-image: url(https://picsum.photos/220/400?random=4);}
    }
    &--fifth {
        background-image: url(https://picsum.photos/720/400?random=5);
        @include respond-to-down('md'){background-image: url(https://picsum.photos/310/400?random=5);}
        @include respond-to-down('lg'){background-image: url(https://picsum.photos/220/400?random=5);}
    }
    &--sixth {
        background-image: url(https://picsum.photos/720/400?random=6);
        @include respond-to-down('md'){background-image: url(https://picsum.photos/310/400?random=6);}
        @include respond-to-down('lg'){background-image: url(https://picsum.photos/220/400?random=6);}
    }
}

.news__body {
    p {
        padding: 5px 10px;
    }
}