.newsletter {
    background-color: $dark_white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    h2 {
        font-size: 24px;
        margin-bottom: 25px;
    }
    p {
        margin-bottom: 10px;
    }
}